.changelog h2::before {
  content: none;
  counter-increment: none;
  counter-set: none;
}

.changelog h3::before {
  content: none;
  counter-increment: none;
  counter-set: none;
}

.changelog h4::before {
  content: none;
  counter-increment: none;
  counter-set: none;
}

.changelog h5::before {
  content: none;
  counter-increment: none;
  counter-set: none;
}

.changelog h6::before {
  content: none;
  counter-increment: none;
}
